  /*logo*/

  .App-header{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    background-image: linear-gradient(
        to bottom right,
        rgb(0, 0, 0) 0%,
        rgb(1, 108, 74) 20%,
        rgb(69, 0, 138) 40%,
        rgb(0, 92, 139) 60%,
        rgb(2, 137, 117) 80%
    );

    background-size: 200% 200%;
    animation: movimiento 5s linear infinite alternate;
}

@keyframes movimiento {
    from {
        background-position: 0 0;
    }
    to{
        background-position: 100% 100%;
    }
}



.App-logo {
    width: 200px;
    pointer-events: none;
  }

 @media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 3s linear;
    }
}

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.loading{
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}